@page "/stops"
@layout DocViewLayout
@inject HubClientService DirectoryHub
@inject IHttpClientFactory HttpClient
@implements IDisposable
@using Newtonsoft.Json

<MudScrollbar Selector=""
    Width="4"
    HoverWidth="6"
    BorderRadius="3"
    Color="rgba(10,133,255,0.5)"
    Hide="false"/>
<MudStack Class="stack-container stops-editor"
    Spacing="1"
    Justify="Justify.FlexStart"
    AlignItems="AlignItems.Center">
  <div class="py-4">
    <DirectoryMenu OnRootFolderChange="HandleRootFolderChange"/>
  </div>
  @switch (State) {
    case PageState.Loading:
      <div class="align-center d-flex justify-center mud-width-full"
          style="height: 50%">
        <div class="align-center d-flex flex-column justify-center">

          <MudProgressCircular Color="Color.Tertiary"
              StrokeWidth="5"
              Size="Size.Large"
              Indeterminate="true"/>

          <MudText Typo="Typo.h3">Loading...</MudText>
        </div>

      </div>
      break;
    case PageState.Loaded:

      <MudGrid Spacing="2"
          Justify="Justify.Center"
          Class="stops-editor-grid">
        @foreach (var group in WindingCodeGroups) {
          <MudItem xs="@(GetBreakpoint(WindingCodeGroups.Count()))"
              Class="stops-grid-item">
            <MudPaper Class="stops-editor-paper"
                Elevation="4">
              <MudListSubheaderExtended T="string"
                  Class="mud-elevation-4"
                  Sticky="true"
                  SecondaryBackground="true">
                <MudText Typo="Typo.h6"
                    Class="ml-6">
                  <strong>@group.Key.ToString() Codes</strong>
                </MudText>
              </MudListSubheaderExtended>

              <MudExpansionPanels MultiExpansion="true"
                  Class="flex-grow-0 overflow-auto stops-expansion-panel"
                  Elevation="2">
                @foreach (var windingCode in group) {
                  <MudExpansionPanel Class="stops-expansion-item"
                      IsInitiallyExpanded="false">
                    <TitleContent>
                      <div class="d-flex gap-10">
                        <MudIcon Icon="@Icons.Material.Filled.MoreVert"
                            Color="Color.Primary"/>
                        <MudText Align="Align.Center"
                            Style="width: 20%;backdrop-filter: contrast(75%) opacity(33%); ">
                          <strong> @windingCode.Code</strong>
                        </MudText>
                        <div class="d-flex justify-start mud-width-full mx-auto">

                          <MudText Typo="Typo.button"
                              Color="Color.Tertiary"
                              Align="Align.Center">
                            @windingCode.Name
                          </MudText>
                        </div>
                      </div>
                    </TitleContent>
                    <ChildContent>
                      <MudSelectExtended Label="Assigned Folder"
                          ItemCollection="_folderPaths"
                          Placeholder="@windingCode.FolderPath"
                          >
                        <ItemTemplate>
                          <MudText>@context.Value</MudText>
                        </ItemTemplate>
                        <ItemSelectedTemplate>
                          <MudText>@context.Value</MudText>
                        </ItemSelectedTemplate>
                      </MudSelectExtended>
                    </ChildContent>
                  </MudExpansionPanel>
                }

              </MudExpansionPanels>
              <MudSpacer/>
            </MudPaper>
          </MudItem>
        }
      </MudGrid>
      break;
    case PageState.Error:
    default:
      <MudAlert Severity="Severity.Error"
          Class="mud-height-full mud-width-full"
          Text="Error loading data"/>
      break;
  }
</MudStack>

@code{

  public enum PageState {
    Loading,
    Loaded,
    Error
  }

  #region Properties
  private HttpClient _pwaServer = null!;
  private IEnumerable<IGrouping<CodeTypeId, WindingCode>> WindingCodeGroups { get; set; } = new List<IGrouping<CodeTypeId, WindingCode>>();
  private PageState State { get; set; } = PageState.Loading;
  private string[] _folders = Array.Empty<string>();
  private string[] _folderPaths = Array.Empty<string>();
  #endregion

  protected override async Task OnInitializedAsync() {
    DirectoryHub.ReceiveAllFolders += DirectoryHub_ReceiveAllFolders;
    _pwaServer = HttpClient.CreateClient("PwaServer");
    var response = await _pwaServer.GetAsync("files/WindingCodes.json");
    if (response.IsSuccessStatusCode) {
  //await Task.Delay(1000).ContinueWith(_ => ParseWindingCodes(response));
      await ParseWindingCodes(response);
    }
    await base.OnInitializedAsync();
  }


  private async Task ParseWindingCodes(HttpResponseMessage response) {
    var content = await response.Content.ReadAsStringAsync();
    var windingCodes = JsonConvert.DeserializeObject<List<WindingCode>>(content);
    if (windingCodes == null) {
      State = PageState.Error;
      return;
    }
    WindingCodeGroups = windingCodes.GroupBy(wc => wc.CodeTypeId);
    State = PageState.Loaded;
  //await Task.Delay(1500).ContinueWith(_ => InvokeAsync(StateHasChanged));
    await InvokeAsync(StateHasChanged);
  }

  private static int GetBreakpoint(int count) {
    return count switch {
      1 => 12,
      2 => 6,
      _ => 6
      };
  }
  private void DirectoryHub_ReceiveAllFolders(string[] folders) {
    _folders = folders;
    InvokeAsync(StateHasChanged);
  }

  private Task HandleRootFolderChange(Folder folder) {
  // when the root folder changes, remove all items from _folder that do no contain the new root folders path
    if (folder.Path == null) {
      return Task.CompletedTask;
    }
    _folderPaths = Array.Empty<string>();
    _folderPaths = _folders.Where(f => f.Contains(folder.Path+"/")).ToArray();
  // replace the folder.path string in each item with '.." to make the path relative to the root folder
    // use regex to ensure that the path is matched as the whole word so that it does not replace a substring of another path

    for (var i = 0; i < _folderPaths.Length; i++) {
      _folderPaths[i] = _folderPaths[i].Replace(folder.Path + "/", @"../");
    }

    return InvokeAsync(StateHasChanged);
  }
  public void Dispose() {
    _pwaServer.Dispose();
    DirectoryHub.ReceiveAllFolders -= DirectoryHub_ReceiveAllFolders;
  }
}
