@page "/stops"
@using Microsoft.AspNetCore.SignalR.Client
@using MudBlazor.Extensions
@layout DocViewLayout
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="stops-container">

  <div class="stops-left-column ">

    <MudPaper Class="left-column-paper mud-background-gray">

      @if (RootFolder is not null) {
        <MudList Clickable="true">
          <MudListSubheader>
            <MudText Typo="Typo.body2">@RootFolder.Name</MudText>
          </MudListSubheader>
          @foreach (var folder in RootFolder.SubFolders.OrderBy(f => f.Name)) {
            <MudListItem Icon="@Icons.Material.Filled.Folder"
                Text="@folder.Name"
                OnClick="@(async () => await ToggleFolderExpanded(folder))"
                NestedList="@folder.ChildrenFolders">
            </MudListItem>
          }




        </MudList>
      }
      <MudText>Selected Folder: </MudText>
      <MudText>@(SelectedValue.As<Folder>().Name)</MudText>
    </MudPaper>

  </div>
  <div class="stops-right-column">

    <MudPaper Class="mud-background-gray right-column-paper">

      <MudList>
        @if (_folders is not null) {
          foreach (var folder in _folders) {
            <MudListItem Icon="@Icons.Material.Filled.Folder"
                Text="@folder"/>
          }
        }

      </MudList>
    </MudPaper>
  </div>
</div>

@code{

  public class Folder {
    public string? Name { get; set; }
    public string? Path { get; set; }
    public bool IsExpanded { get; set; }
    public RenderFragment? ChildrenFolders { get; set; }
    public List<Folder> SubFolders { get; set; } = new();
  }

  //private MudListItem? _selectedItem;
  private object SelectedValue { get; set; } = new Folder();
  private Folder? RootFolder { get; set; }
  private string[]? _folders;
  private HubConnection? _directoryHub;

  protected override async Task OnInitializedAsync() {
    await InitializeDirectoryHub();
  }
  private async Task InitializeDirectoryHub() {
    _directoryHub = new HubConnectionBuilder()
      .WithUrl(NavigationManager.ToAbsoluteUri("/directoryHub"))
      .Build();
    _directoryHub.On<string[]>("ReceivedAllFolders", async(folders) => {
  // sort the folders into the dictionary based off of the first folders from the root directory
      _folders = folders;
      RootFolder = BuildDirectoryTree(_folders);
      RootFolder.ChildrenFolders = await ChildrenFolderBuilder(RootFolder);
      await InvokeAsync(StateHasChanged);
    });
    await _directoryHub.StartAsync();
    await _directoryHub.SendAsync("GetAllFolders", null);
  }

  private static Folder BuildDirectoryTree(IEnumerable<string> paths) {
    var root = new Folder();
  // create a var to assign the splitChar to depending on if the path contains '\\' or '/'
    var enumerable = paths.ToList();
    var splitChar = enumerable.First().Contains('\\') ? '\\' : '/';
    var splitPaths = enumerable.Select(path => path.Split(splitChar)).ToList();
    var commonParts = int.MaxValue;

    for (var i = 0; i < splitPaths[0].Length; i++) {
      var currentPart = splitPaths[0][i];
      var count = 1;
      for (var j = 1; j < splitPaths.Count; j++) {
        if (i >= splitPaths[j].Length || splitPaths[j][i] != currentPart) {
          break;
        }
        count++;
      }
      if (count == splitPaths.Count) {
        commonParts = i;
      } else {
        break;
      }
    }

    root.Name = splitPaths[0][commonParts];
    root.Path = string.Join(splitChar, splitPaths[0].Take(commonParts + 1));
    root.IsExpanded = true;

    foreach (var splitPath in splitPaths) {
      var current = root;
      for (var i = commonParts + 1; i < splitPath.Length; i++) {
        var next = current.SubFolders.FirstOrDefault(f => f.Name == splitPath[i]);
        if (next == null) {
          next = new Folder() {
            Name = splitPath[i],
            Path = current.Path + splitChar + splitPath[i],
          };
          current.SubFolders.Add(next);
        }
        current = next;
      }
    }
    return root;
  }
  private async Task ToggleFolderExpanded(Folder folder) {
    folder.IsExpanded = !folder.IsExpanded;
    folder.ChildrenFolders = await ChildrenFolderBuilder(folder);
    await InvokeAsync(StateHasChanged);
  }
  private Task<RenderFragment> ChildrenFolderBuilder(Folder baseFolder) {
    var childrenFolders = baseFolder.SubFolders.OrderBy(f => f.Name).Select(folder => (RenderFragment)(builder => {
      builder.OpenComponent<MudListItem>(0);
      builder.AddAttribute(1, "Icon", Icons.Material.Filled.Folder);
      builder.AddAttribute(2, "Text", folder.Name);
      builder.AddAttribute(3, "Value", folder);
      builder.AddAttribute(4, "OnClick", EventCallback.Factory.Create<MouseEventArgs>(this, async () => await ToggleFolderExpanded(folder)));
      builder.AddAttribute(5, "NestedList", folder.ChildrenFolders);
      builder.CloseComponent();
    })).ToList();

    return Task.FromResult<RenderFragment>(builder => {
      foreach (var child in childrenFolders) {
        child(builder);
      }
    });
  }

  public void Dispose() {
    _directoryHub?.DisposeAsync();
  }
}
