@using Microsoft.AspNetCore.SignalR.Client
@implements IDisposable
@inject ISnackbar Snackbar
@inject HubClientService DirectoryHubClient

<MudScrollbar Selector=""
    Width="4"
    HoverWidth="6"
    BorderRadius="3"
    Color="rgba(10,133,255,0.5)"
    Hide="false"/>
<MudStack Class="stack-container stops-editor"
    Spacing="1"
    Justify="Justify.FlexStart"
    AlignItems="AlignItems.Center">
  <div class="align-center d-flex gap-4 justify-center mud-width-full py-2"
      style="position: relative;">

    <DirectoryMenu Folder="DirectoryMenu.StartupFolder.Division1"
        OnRootFolderChange="HandleRootFolderChange"/>

    <div class="d-flex flex-1 justify-start px-6"
        style="position: absolute; left: 0">
      <MudButton Color="Color.Primary"
          Variant="Variant.Outlined"
          Class="mud-elevation-4"
          StartIcon="@Icons.Material.Filled.Save"
          Disabled="true">
        Save Changes
      </MudButton>
    </div>
  </div>

  @switch (State) {
    case PageState.Loading:
      <div class="align-center d-flex justify-center mud-width-full"
          style="height: 50%">
        <div class="align-center d-flex flex-column justify-center">

          <MudProgressCircular Color="Color.Tertiary"
              StrokeWidth="5"
              Size="Size.Large"
              Indeterminate="true"/>

          <MudText Typo="Typo.h3">Loading...</MudText>
        </div>

      </div>
      break;
    case PageState.Loaded:

      <MudGrid Spacing="2"
          Justify="Justify.Center"
          Class="stops-editor-grid">
        @foreach (var group in WindingCodeGroups) {
          <MudItem xs="@(GetBreakpoint(WindingCodeGroups.Count()))"
              Class="stops-grid-item">
            <MudPaper Class="stops-editor-paper"
                Elevation="4">
              <MudListSubheaderExtended T="string"
                  Class="mud-elevation-4"
                  Sticky="true"
                  SecondaryBackground="true">
                <MudText Typo="Typo.h6"
                    Class="ml-6">
                  <strong>@group.Key.ToString() Codes</strong>
                </MudText>
              </MudListSubheaderExtended>

              <MudExpansionPanels MultiExpansion="true"
                  Class="flex-grow-0 overflow-auto stops-expansion-panel"
                  Elevation="2">
                @foreach (var windingCode in group) {
                  <MudExpansionPanel Class="stops-expansion-item"
                      IsInitiallyExpanded="false">
                    <TitleContent>
                      <div class="d-flex gap-10">
                        <MudIcon Icon="@Icons.Material.Filled.MoreVert"
                            Color="Color.Primary"/>
                        <MudText Align="Align.Center"
                            Style="width: 20%;backdrop-filter: contrast(75%) opacity(33%); ">
                          <strong> @windingCode.Code</strong>
                        </MudText>
                        <div class="d-flex justify-start mud-width-full mx-auto">

                          <MudText Typo="Typo.button"
                              Color="Color.Tertiary"
                              Align="Align.Center">
                            @windingCode.Name
                          </MudText>
                        </div>
                      </div>
                    </TitleContent>
                    <ChildContent>

                      <MudStack Row
                          Spacing="0"
                          AlignItems="AlignItems.Center"
                          Style="width: 100%; overflow-inline: hidden">
                        <div class="align-content-start border-r border-solid mud-border-lines-default pr-8"
                            style="display: flex; flex-direction: column; gap: 0.2rem;">
                          <MudTooltip Arrow="true"
                              Delay="500"
                              Placement="Placement.Top"
                              ShowOnHover="true"
                              Text="@($"Notify Server: CurrentStop = {windingCode.Code}")">
                            <MudIconButton Variant="Variant.Text"
                                Color="Color.Info"
                                Icon="@Icons.Material.Outlined.Bolt"
                                Size="Size.Small"
                                Class="mud-elevation-4"
                                OnClick="@(() => SetUpdatedStop(windingCode.Id))"
                                Style="backdrop-filter: contrast(0.5) saturate(0.7)"/>
                          </MudTooltip>
                          <MudTooltip Arrow="true"
                              Delay="500"
                              Placement="Placement.Top"
                              ShowOnHover="true"
                              Text="Show Full Paths">
                            <MudIconButton Variant="Variant.Text"
                                Color="Color.Tertiary"
                                Icon="@Icons.Material.Outlined.SettingsEthernet"
                                Size="Size.Small"
                                Class="mud-elevation-4"
                                OnClick="@(() => {_showFullPaths = !_showFullPaths; InvokeAsync(StateHasChanged); })"
                                Style="backdrop-filter: contrast(0.5) saturate(0.7)"/>

                          </MudTooltip>
                          <MudIconButton Variant="Variant.Text"
                              Color="Color.Error"
                              Icon="@Icons.Material.Outlined.DeviceHub"
                              Size="Size.Small"
                              Class="mud-elevation-4"
                              OnClick="() => SaveWindingCodeDb(windingCode)"
                              Style="backdrop-filter: contrast(0.5) saturate(0.7)"/>

                        </div>
                        <MudSelectExtended T="string"
                            Class="px-2"
                            ItemCollection="_folderPaths"
                            @bind-Value="@windingCode.FolderPath"
                            Text="@FormatWindingCode(windingCode)"
                            Variant="Variant.Filled"
                            Margin="Margin.Dense"
                            OnClearButtonClick="@(() => windingCode.FolderPath = null)"
                            Color="Color.Dark"
                            Label="Assigned Folder"
                            Placeholder="Select a folder"
                            PopoverClass="folder-select-popover"
                            AnchorOrigin="Origin.BottomCenter"
                            FullWidth
                            Clearable
                            Dense
                            Virtualize
                            SearchBox
                            SearchBoxAutoFocus
                            DisablePopoverPadding>
                          <ItemTemplate>
                            <MudText Typo="Typo.button"> @context.Value</MudText>
                          </ItemTemplate>
                        </MudSelectExtended>
                      </MudStack>
                    </ChildContent>
                  </MudExpansionPanel>
                }

              </MudExpansionPanels>
              <MudSpacer/>
            </MudPaper>
          </MudItem>
        }
      </MudGrid>
      <MudPaper Class="mud-background-gray mud-width-full my-6 py-1">
        <MudText Align="Align.Center">@ServerWindingDocsFolder</MudText>
      </MudPaper>
      break;
    case PageState.Error:
    default:
      <MudAlert Severity="Severity.Error"
          Class="mud-height-full mud-width-full"
          Text="Error loading data"/>
      break;
  }

</MudStack>

@code{

  public enum PageState {
    Loading,
    Loaded,
    Error
  }

  #region Properties
  private IEnumerable<IGrouping<CodeTypeId, IWindingCode>> WindingCodeGroups { get; set; }
    = new List<IGrouping<CodeTypeId, IWindingCode>>();
  private PageState State { get; set; } = PageState.Loading;
  private List<string> _folderPaths = new();
  //private readonly List<(string, List<string>?)> _folderItemGroups = new();
  private bool _showFullPaths;
  private string ServerWindingDocsFolder { get; set; } = "Default";
  #endregion

  protected override async Task OnInitializedAsync() {
    DirectoryHubClient.WindingCodesDbUpdated += DirectoryHub_OnWindingCodesDbUpdated;
    DirectoryHubClient.CurrentWindingStopUpdated += OnCurrentWindingStopUpdated;
    ServerWindingDocsFolder = await DirectoryHubClient.DirectoryHub.InvokeAsync<string>("GetServerWindingDocsFolder");
    await FetchCodesFromHub();
    await base.OnInitializedAsync();
  }
  public void Dispose() {
    DirectoryHubClient.WindingCodesDbUpdated -= DirectoryHub_OnWindingCodesDbUpdated;
    DirectoryHubClient.CurrentWindingStopUpdated -= OnCurrentWindingStopUpdated;
  }

  #region Startup Methods
  private async Task FetchCodesFromHub() {
    var windingCodes = await DirectoryHubClient.DirectoryHub.InvokeAsync<List<IWindingCode>?>("GetWindingCodes", Division.D1);
    if (windingCodes == null) {
      State = PageState.Error;
      return;
    }
    WindingCodeGroups = windingCodes.GroupBy(wc => wc.CodeTypeId);
    await Task.Delay(1000);
    State = PageState.Loaded;
  }
  private static int GetBreakpoint(int count) {
    return count switch {
      1 => 12,
      2 => 6,
      _ => 6
      };
  }
  private void HandleRootFolderChange(DirectoryMenu.FolderCallbackArgs folderArgs) {
    _folderPaths.Clear();
    if (folderArgs.SubFolders == null)
      return;

    _folderPaths = folderArgs.SubFolders.OrderBy(f => f).ToList();
  }
  #endregion

  private void SetUpdatedStop(int codeId) {
    DirectoryHubClient.SetCurrentCoilWinderStop(codeId);
  }
  private void DirectoryHub_OnWindingCodesDbUpdated() {
    Snackbar.Add("Winding Codes Database Updated", Severity.Success, configure: config => {
      config.DuplicatesBehavior = SnackbarDuplicatesBehavior.Allow;
      config.ShowCloseIcon = true;
      config.CloseAfterNavigation = true;
    });
  }
  private void OnCurrentWindingStopUpdated(object? obj, IWindingCode code) {
    var media = code.Media;
    Snackbar.Add($"Current Winding Stop Updated: {code.Code}\n PDF : {media.Pdf}\n VID: {media.Video}\n ref: {media.RefMedia}",
      Severity.Info,
      configure: config => {
        config.DuplicatesBehavior = SnackbarDuplicatesBehavior.Allow;
        config.ShowCloseIcon = true;
        config.RequireInteraction = true;
        config.CloseAfterNavigation = true;
      });
  }

  private string FormatWindingCode(IWindingCode windingCode) {
    return !_showFullPaths ? windingCode.FolderPath! : $"{ServerWindingDocsFolder}{windingCode.FolderPath}";
  }
  private async Task SaveWindingCodeDb(IWindingCode windingCode) {
    if (windingCode.FolderPath != null)
      windingCode.FolderPath = windingCode.FolderPath.Replace("../", string.Empty);
    await DirectoryHubClient.DirectoryHub.InvokeAsync("UpdateWindingCode", windingCode.Name, windingCode);
    StateHasChanged();
  }
}