<MudNavMenu Margin="Margin.Dense"
    Bordered="true">
  <MudPaper Class="ma-2"
      Elevation="4"
      Outlined="true">

    <MudNavLink Href=""
        Match="NavLinkMatch.All"
        Icon="@Icons.Material.Filled.DocumentScanner">
      Index
    </MudNavLink>
    <MudNavGroup Title="Admin"
        Disabled="@(!DrawerOpen)"
        Expanded="DrawerOpen"
        ExpandIcon="@Icons.Material.Outlined.ArrowDropDown"
        Icon="@Icons.Material.Outlined.AdminPanelSettings">
      <div class="pl-4">
        <MudNavLink Href="AdminDashboard"
            Match="NavLinkMatch.Prefix">
          Dashboard
        </MudNavLink>
        <MudNavLink Href="Admin"
            Match="NavLinkMatch.Prefix">
          D-Board
        </MudNavLink>
      </div>
    </MudNavGroup>

    <MudNavGroup Title="ChatHub"
        Disabled="@(!DrawerOpen)"
        Expanded="DrawerOpen"
        ExpandIcon="@Icons.Material.Outlined.ArrowDropDown"
        Icon="@Icons.Material.Outlined.Terminal">
      <div class="pl-4">
        <MudNavLink Href="messengerHub"
            Match="NavLinkMatch.Prefix"
            Icon="@Icons.Material.Outlined.Message">
          Chat
        </MudNavLink>
        <MudNavLink Href="HubCommander"
            Match="NavLinkMatch.Prefix"
            Icon="@Icons.Material.Filled.Explore">
          Manage
        </MudNavLink>
      </div>
    </MudNavGroup>

  </MudPaper>
</MudNavMenu>

@code{
  // KEEP this parameter, it's needed for the NavGroup to collapse
  // when the drawer is closed. Parameters causes a re-render
  // when the value changes
  [Parameter]
  public bool DrawerOpen { get; set; }

  /// Assign to MudNavGroup.Expanded to control the expanded state
  private bool IsExpanded { get; set; }

}
