<MudButtonGroup
    Class="d-flex" Style="flex-grow: 1; flex-shrink: 1; flex-basis: min-content;"
    OverrideStyles="false">
  <MudIconButton
      id="btnPlay"
      Color="Color.Tertiary"
      Icon="@Icons.Material.Sharp.PlayCircleOutline"
      OnClick="@PlayClick"
      Size="Size.Small"
      Variant="Variant.Outlined">
  </MudIconButton>
  @* <div style="margin-inline: 2px;"></div> *@
  <MudIconButton
      id="btnPause"
      Color="Color.Tertiary"
      Icon="@Icons.Material.Filled.PauseCircleOutline"
      OnClick="@PauseClick"
      Size="Size.Small"
      Variant="Variant.Outlined">
  </MudIconButton>
  @* <div class="mx-2"></div> *@
  <div class="mx-2">
    <MudIconButton
        id="btnRefresh"
        Color="Color.Tertiary"
        Icon="@Icons.Material.Filled.Refresh"
        OnClick="@RefreshButtonClick"
        Size="Size.Small"
        Variant="Variant.Outlined">
    </MudIconButton>
  </div>
  <MudIconButton
      id="btnRewind"
      Color="Color.Secondary"
      Icon="@Icons.Material.Outlined.Replay5"
      OnClick="@SeekBackClick"
      Size="Size.Small"
      Variant="Variant.Outlined">
  </MudIconButton>
  @* <div class="mx-1"></div> *@
  <MudIconButton
      id="btnForward"
      Color="Color.Info"
      Icon="@Icons.Material.Filled.Forward5"
      OnClick="@SeekForwardClick"
      Size="Size.Small"
      Variant="Variant.Outlined">
  </MudIconButton>
</MudButtonGroup>

@code {
  [Parameter]
  public EventCallback PlayClick { get; set; }
  [Parameter]
  public EventCallback PauseClick { get; set; }
  [Parameter]
  public EventCallback RefreshButtonClick { get; set; }
  [Parameter]
  public EventCallback SeekBackClick { get; set; }
  [Parameter]
  public EventCallback SeekForwardClick { get; set; }

  //function for the parent to call that returns the id of every button in the group
  public string[] GetButtonIds()
  {
    return new[] { "btnPlay", "btnPause", "btnRefresh", "btnRewind", "btnForward" };
  }
}