@page "/HubCommander"
@layout DocViewLayout
@inject HubClientService HubClientService
<div class="d-flex justify-center mud-width-full">
  <MudPaper id="hub-paper"
      Elevation="4"
      Class="ma-6 pa-6">
    <div class="paper-header align-center d-flex gap-6 flex-wrap justify-start py-6">

      <MudText Align="Align.Start"
          Typo="Typo.h3">
        Notify Clients
      </MudText>

      <MudRadioGroup @bind-SelectedOption="@SelectedRadio"
          Class="mud-elevation-4 px-4 rounded-t-lg">
        <MudRadio Option="@((int)HubServers.ChatHub)"
            Color="Color.Info"
            UnCheckedColor="Color.Default">
          <MudText Style="@($"color:{Colors.LightBlue.Darken1}; ")">
            @HubServers.ChatHub.ToString()
          </MudText>
        </MudRadio>
        <MudRadio Option="@((int)HubServers.DirectoryHub)"
            Color="Color.Success"
            UnCheckedColor="Color.Default">
          <MudText Style="@($"color:{Colors.Green.Darken1}; ")">
            @HubServers.DirectoryHub.ToString()
          </MudText>
        </MudRadio>
        <MudRadio Option="99"
            Color="Color.Error"
            UnCheckedColor="Color.Default">
          <MudText Style="@($"color:{Colors.DeepOrange.Accent2}; ")">
            None
          </MudText>
        </MudRadio>
      </MudRadioGroup>

    </div>
    <MudDivider/>
    <MudSelect T="string"
        Label="Callback Method"
        Disabled="CheckForValidHubConnection"
        @bind-Value="_selectedCallbackMethod">
      @if (CallbackMethods != null) {
        foreach (string? method in CallbackMethods) {
          <MudSelectItem Value="@method"/>
        }
      }
    </MudSelect>

    <MudSelect T="string"
        Disabled="CheckForValidHubConnection"
        Label="Connected Clients"
        @bind-Value="_selectedGroup">
      @foreach (string? client in _connectedClients) {
        <MudSelectItem T="string"
            Value="@client">
          @client
        </MudSelectItem>
      }
    </MudSelect>

    @if (WindingCodes != null && SelectedRadio == (int)HubServers.DirectoryHub) {
      <div class="d-flex align-center gap-2 justify-space-evenly">
        <MudPaper Width="100px"
            Class="my-auto"
            Outlined="true">
          <MudText Align="Align.Center">
            @(_selectedWindingCode != null ? _selectedWindingCode.Code : "Code Not Selected")
          </MudText>
        </MudPaper>


        <WindingStopCodeReel TValue="IWindingCode"
            WindingStopCodes="@WindingCodes"
            OnCodeSelected="@((code => _selectedWindingCode = code))"/>
      </div>
    }
    <div class="pa-4">
      <MudButton Color="Color.Primary"
          Disabled="IsNotifyDisabled"
          Variant="Variant.Filled"
          OnClick="NotifyClients">
        Notify Clients
      </MudButton>
    </div>
  </MudPaper>
</div>
